<div class="box">

  <mat-sidenav-container class="example-container" autosize>

    <mat-sidenav #sidenav mode="side" position="end" [opened]="searchFlag" class="example-sidenav" fixedInViewport="false">

      <!--  -->
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <mat-toolbar class="header" color="primary">
        <mat-toolbar-row>
          <span [routerLink]="['']">
            <h1>MediC</h1>
          </span>

          <form [formGroup]="searchForm" class="search-bar">
            <mat-form-field class="example-form-field" appearance="standard">
              <input matInput (keydown.enter)="search()" formControlName="searchFormControlName"
                placeholder="Enter Search Terms Here" type="text">
              <button (click)="search()" class="search-icon" mat-icon-button>
                <mat-icon  matSuffix>search</mat-icon>
              </button>

            </mat-form-field>
          </form>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>