<div class="box">
  <mat-toolbar class="header">
    <span>Team Brute Force</span>
    <span class="example-spacer"></span>
    <button *ngIf="solrService._searchFlag | async" [routerLink]="['analyzeSearch']" mat-stroked-button>View Search Analytics</button>
    <button [routerLink]="['analyzeCorpus']" mat-stroked-button>View Corpus Analytics</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div *ngIf="spinnerService.visibility | async" class="overlay">
    <div class="center">
      <mat-spinner diameter="150"></mat-spinner>
    </div>
  </div>
</div>