::ng-deep .mat-tab-labels {
    justify-content: center;
}
::ng-deep .mat-tab-group {
    background-color: #fff;
}

.tab-group{
    margin-bottom: 2%;
}

.tab-body{
    background-color: inherit;
}

.router-body{
    height: 100%;
    background-color: inherit;
}