::ng-deep .mat-tab-labels {
    justify-content: center;
}
::ng-deep .mat-tab-group {
    background-color: #fff;
}

  ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
 }
 ::ng-deep .mat-form-field-label {
  color: white !important;
}


.tab-group{
    margin-bottom: 2%;
}

.tab-body{
    background-color: inherit;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #475a69b6;
 }
.router-body{
    height: 100%;
    background-color: inherit;
}