<div class="row">
    <!-- <div class="col-6"> -->
    <app-word-cloud style="width:50%;" id="word-cloud-hashtag" title="Top Hashtags" [data]=hashtags>
    </app-word-cloud>
    <!-- </div> -->

    <!-- <div class="col-6"> -->
    <app-word-cloud style="width:50%;" id="word-cloud-topics" title="Top Topics" [data]=topics>
    </app-word-cloud>
    <!-- </div> -->
</div>
<div class="row">
    <app-query-stats style="width:100%;" id="query-stats-1" title="Country Wise Tweet Distribution" [data]=tweet_distribution_country>
    </app-query-stats>
    <!-- <app-query-stats id="query-stats-1" title="Country Wise Tweet Distribution" data=tweet_distribution_country>
    </app-query-stats> -->
</div>